<h3 class="title">Tarieven</h3>
<table class="fixed-layout ztb-tarieven">
    <tr>
        <td class="td300">Tarief web</td>
        <td class="td300">
            &euro; <input type="text" data-ng-change="change(pdc_tarief)" name="params.definitie.pdc_tarief" data-ng-price-input="" size="8" ng-model="pdc_tarief"> (e.g. 12.34)
        </td>
        <td class="td300"></td>
    </tr>

    [% set contactkanalen = ['balie', 'telefoon', 'email', 'behandelaar', 'post'] %]
    [% for contactkanaal in contactkanalen %]
    <tr>
        <td>Tarief [[ contactkanaal ]]</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_[[ contactkanaal ]]" data-ng-model="pdc_tarief_[[ contactkanaal ]]" />
        </td>
        <td></td>
    </tr>
    [% endfor %]

</table>
