[% zaaktype = c.model('DB::Zaaktype').search({id=> zaaktype_id}) %]
[% sjablonen = zaaktype.zaaktype_node_id.scalar.zaaktype_sjablonen.scalar.search({}, {}) %]
[% sjabloon_fieldname = fieldname _ '_sjabloon' %]

[% IF sjablonen.count == 0 %]

  Geen sjablonen beschikbaar.

[% ELSE %]

  [% kenmerk_name = 'regels_' _ sjabloon_fieldname %]
  [% value = params.$sjabloon_fieldname %]

    <select name="regels_[% sjabloon_fieldname %]">
      [% FOREACH sjabloon_index IN milestone.elementen.sjablonen.keys.nsort %]
          [% msjabloon = milestone.elementen.sjablonen.$sjabloon_index %]
          <option value="[% sjabloon_index %]" bla="[% msjabloon.id %]"
             [% IF sjabloon_index == value %]
              selected="selected"
             [% END %]
          >[% c.model('DB::BibliotheekSjablonen').find(msjabloon.bibliotheek_sjablonen_id).naam %]</option>
      [% END %]
    </select>

[% END %]


[% PROCESS widgets/general/dropdown.tt 
  dropdown_content = 'Sjablonen die automatisch gegenereerd worden verschijnen hier niet.'
%]
