[% zaaktype_id_fieldname = zaaktype_fieldname _ '_id' %]
<div>
    <div class="radio-item" style="display:inline-block;margin-right:10px;">
        <input style="border: 0px none;" id="burger" name="betrokkene_type" value="natuurlijk_persoon" type="radio"> 
        <label for="burger">Burger</label>
    </div><br/>
    <div class="radio-item" style="display:inline-block;">
        <input style="border: 0px none;" id="organisatie" name="betrokkene_type" checked="checked" value="bedrijf" type="radio"> 
        <label for="organisatie">Organisatie</label>
    </div>
</div>

<div class="ezra_zaaktype_keuze" style="display:inline">
    <div class="ezra_objectsearch_zaaktype"> 
        <input type="hidden" name="regels_[% zaaktype_id_fieldname %]" class="zaaktype_id_finder ezra_selected_zaaktype_id" value="[% params.$zaaktype_id_fieldname %]"/> 
        <input type="hidden" name="jstrigger" value="[% trigger %]" />

        <input
            id="textbox-[% trigger %]"
            type="text"
            name="regels_[% zaaktype_fieldname %]"
            class="flexible80 searchbox"
            value="[% params.$zaaktype_fieldname %]"
            autocomplete="off"
            />
    </div>
</div>
