<form class="ezra_confirm_dialog">
    <table cellspacing="1" class="table_zaakinformatie">
        <tbody>
            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">Korte omschrijving
                over deze wijziging:</td>
                <td class="table_td_right_zaakinformatie">
                    <input type="text" name="commit_message" />
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table_ztbmenu">
        <tbody>
            <tr class="table_ztbmenu_tr">
                <td class="table_ztbmenu_tdright">
                    <input type="submit" value="Opslaan" class="button button-primary" id="dialog-submit"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>

