<ul>
	<li ng-repeat="item in $ctrl.getNavigationItems() track by item.name">
		<a 
			ng-href="{{::item.link}}"
			ng-class="item.style"
			zs-tooltip="{{::item.label}}"
			zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }"
		>
			<zs-icon icon-type="{{::item.icon}}"></zs-icon>
			<span class="contact-navigation-link-label">{{::item.label}}</span>
		</a>
	</li>
</ul>
