<div data-ng-controller="nl.mintlab.user.AnnotationsSettingsController" class="annotations-settings contact-settings-block">

	<h3>Annotaties</h3>

	<div><br/>Klik op 'Wissen' om alle opgeslagen annotaties permanent te verwijderen.</div>
	<div class="contact-settings-block-content">
		<form class="ezra_no_waitstart">

			<button class="form-action form-action-submit btn btn-primary" data-zs-confirm="clearAnnotations()" data-zs-confirm-verb="Bevestigen" data-zs-confirm-label="Weet u zeker dat u al uw opgeslagen annotaties wilt verwijderen? Deze actie kan niet ongedaan worden gemaakt." class="btn btn-primary">
				Wissen&hellip;
		    </button>
		</form>
	</div>
	
</div>
