[% RETURN IF c.user_exists -%]

</div>
    
<footer>

    <div class="footer-background">
        <div class="wrapper">
            <div class="col1-3">
                <a id="c70"></a>


    <div class="vcard media">
        
            <div class="media-left">
                <svg viewBox="0 0 54 54" class="shape  shape--house">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape--house"></use>
                </svg>
            </div>
            <div class="media-body">
                <p class="fn nm">Gemeentehuis</p>

                <p class="adr">
                    <span class="street-address">Soestdijkseweg Zuid 173</span><br>
                    <span class="postal-code">3721 AB</span>
                    <span class="region">Bilthoven</span>
                </p>
            </div>
        
    </div>
    <div class="media hidden-print">
        <div class="media-left">
            <div class="shape--house"></div>
        </div>
        <div class="media-body">
            <a href="https://www.twitter.com/gemdebilt" title="Volg op Twitter" target="_blank" rel="noopener" class="no-underline social-link">
                <svg class="shape shape--twitter">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape--twitter"></use>
                </svg>
                <span class="sr-only">Volg op Twitter</span>
            </a>

            <a href="https://nl-nl.facebook.com/gemeentedebilt" title="Vind leuk op Facebook" target="_blank" rel="noopener" class="no-underline social-link">
                <svg class="shape shape--facebook">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape--facebook"></use>
                </svg>
                <span class="sr-only">Vind leuk op Facebook</span>
            </a>
        </div>
    </div>

            </div>

            <div class="col1-3">
                <a id="c73"></a>



    <div class="media">
        <a class="no-underline shape-link" href="tel:0302289411">
            <div class="[ media-left  media-middle ]">
                <svg viewBox="0 0 54 54" class="shape  shape--smartphone">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape--smartphone"></use>
                </svg>
            </div>
            <div class="[ media-body  media-middle ]">
                030 - 228 94 11
            </div>
        </a>
    </div>


            </div>

            <div class="col1-3">
                <a id="c74"></a>



    <div class="media hidden-print">
        <a href="http://debilt.nl/contact-en-openingstijden/" title="Contact" class="no-underline shape-link">
            <div class="[ media-left  media-middle ]">
                <svg viewBox="0 0 54 54" class="shape shape--envelope">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape--envelope"></use>
                </svg>
            </div>
            <div class="[ media-body  media-middle ]">
                Contact
            </div>
        </a>
    </div>


            </div>
        </div>
    </div>

    <div class="wrapper hidden-print">
        <ul class="list-unstyled footer-menu [ columns  columns__mobile--2 ]">
            <li class="footer-menu__item">
                <a href="http://debilt.nl/bekendmakingen/" class="underlined">Bekendmakingen</a>
            </li>
            <li class="footer-menu__item">
                <a href="http://debilt.nl/inloggen/" class="underlined">Inloggen</a>
            </li>
            <li class="footer-menu__item">
                <a href="http://debilt.nl/over-deze-site/" class="underlined">Over deze site</a>
            </li>
            <li class="footer-menu__item">
                <a href="http://debilt.nl/wegwerkzaamheden/" class="underlined">Wegwerkzaamheden</a>
            </li>
            <li class="footer-menu__item">
                <a href="http://debilt.nl/bestuur-en-organisatie/werken-bij-de-gemeente/" class="underlined">Vacatures</a>
            </li>
            <li class="footer-menu__item">
                <a href="http://debilt.nl/sitemap/" class="underlined">Sitemap</a>
            </li>
        </ul>
    </div>

</footer>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]

</body>
</html>
