<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Word Addin</title>
  <base href="/wordaddin/"/>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://appsforoffice.microsoft.com/lib/beta/hosted/office.js" type="text/javascript"></script>
  <script src="https://unpkg.com/@microsoft/office-js-helpers@0.3.5/dist/office.helpers.min.js"></script>
  <script>
    window.zsOnScriptError = function ( event ) {
      document.body.innerHTML = 'A <a href="' + event.target.src + '">script</a> failed to load, perhaps because of an invalid certificate. If so, click the link to the script to optionally accept an insecure certificate.';
    };

    setTimeout(function () {
      Array.prototype.forEach.call(document.querySelectorAll('script[src^="https://"]'), function ( script ) {
        script.setAttribute('onerror', 'zsOnScriptError(event)');
      });
    }, 0);
  </script>
</head>
<body class="body-scroll-container">

<zs-snackbar></zs-snackbar>

<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>

<ui-view class="zs-ui-view"></ui-view>

<div id="non-office-context-message"></div>

<script src="/assets/vendors.bundle.js"></script>
</body>
<script>
  if (window.OfficeHelpers.Utilities.isAddin()) {

    Office.initialize = function ( reason ) {
      angular.element(document).ready(function () {
        angular.bootstrap(document, ['Zaaksysteem.officeaddins.word']);
      });
    };
  } else {
    document.getElementsByClassName('zs-ui-view')[0].style.display = 'none';
    document.getElementById('non-office-context-message').innerHTML = '<div class="wordaddin-case-search-header"><img src="/images/wordaddin/zaaksysteem-logo-groen.svg"><h1>Deze app werkt alleen binnen Microsoft Office 2016.</h1><p>Vraag uw beheerder om meer informatie.</p></div>';
  }
</script>
</html>
