[%
# Opts
# MAP_TEMPLATE: 'case' | 'address'
# MAP_READONLY: $boolean
# MAP_CSSPROFILE: 'small' | 'large'
# MAP_LOCATION: 'address line'
# MAP_INPUT: input name
# MAP_CENTER: latlon of center
# MAP_LOCATIONS: ['address line 1','address line 2']
# MAP_FORM: whether map is part of form or not
# MAP_WMS_LAYER_ID: 'some_string-identifying_the-layer'
# MAP_WMS_FEATURE_ATTRIBUTE_ID: 6548
# MAP_WMS_FEATURE_ATTRIBUTE_LABEL: 'mijn tekstkenmerk'

# Not yet implemented
# MAP_CASES: [153,155,187]
%]

[%
IF (MAP_LOCATIONS);
    IF (MAP_LOCATION);
        MAP_LOCATIONS.push(MAP_LOCATION);
    END;
ELSIF (MAP_LOCATION);
    MAP_LOCATIONS = [MAP_LOCATION];
END;

%]

<div class="map-wrap ezra_map ezra_map-[% MAP_CSSPROFILE %][% MAP_READONLY ? ' ezra_map-readonly' : '' %][% MAP_FIXEDWIDTH ? ' ezra_map-fixedwidth' : '' %][% MAP_MULTIPLE ? ' ezra_map-multiple' : '' %][% MAP_LATLONONLY ? ' ezra_map-latlononly' : '' %]" [% MAP_FORM ? 'data-zs-case-webform-map-field' : ''%]
    [% IF MAP_WMS_LAYER_ID %]
    map-wms-layer-id="[% MAP_WMS_LAYER_ID %]"
    map-wms-feature-attribute-id="[% MAP_WMS_FEATURE_ATTRIBUTE_ID %]"
    [% END %]
>
    <div class="map-header">
        <input
            type="hidden"
            class="ezra_map-center"
            value="[% MAP_CENTER %]" />
        <input
            type="hidden"
            class="ezra_map-address ezra_map-kenmerkfield"
            name="[% MAP_INPUT %]"
            value="[% location %]" />
    [% FOREACH location IN MAP_LOCATIONS %]
        <input
            type="hidden"
            class="ezra_map-address"
            value="[% location | html_entity %]" />
    [% END %]
    [% FOREACH map_case IN MAP_CASES %]
        <input
            type="hidden"
            class="ezra_map-json"
            value="[% map_case | html_entity %]" />
    [% END %]
        [% IF !MAP_READONLY %]
        <input
            type="text"
            class="ezra_map-autocomplete ezra-disable_fieldUpdate"
            value="[% MAP_LOCATION | html_entity %]"
            placeholder="Zoek op adres (bv. [% c.get_customer_info.woonplaats %], [% c.get_customer_info.adres %])"
            [% my_veldoptie_id %] />
        [% END %]
    </div>
    <div class="map">
        <div class="ezra_map-viewport" tabindex="0">
            <div class="spinner-groot"><div></div></div>
            
        </div>
    </div>
    [% IF MAP_TEMPLATE == 'case' %]
    <div class="map-balloon ezra_map-template" style="display: none">
        <h2 class="map-balloon-title"><a href="%%url%%">%%id%% <span>%%description%%</span></a></h2>
        <ul class="map-balloon-list">
            <li>
                <div>Zaaktype: </div>
                <div>%%zaaktype%%</div>
            </li>
            <li>
                <div>Adres: </div>
                <div>%%address%%</div>
            </li>
            <li>
                <div>Aanvrager: </div>
                <div>%%requestor%%</div>
            </li>
            <li>
                <div>Behandelaar: </div>
                <div>%%manager%%</div>
            </li>
        </ul>
    </div>
    [% ELSIF MAP_TEMPLATE == 'public' %]
    <div class="map-balloon ezra_map-template" style="display: none">
        <h2 class="map-balloon-title">%%id%% <span>%%description%%</span></a></h2>
        <ul class="map-balloon-list">
            <li>
                <div>Zaaktype: </div>
                <div>%%zaaktype%%</div>
            </li>
            <li>
                <div>Adres: </div>
                <div>%%address%%</div>
            </li>
        </ul>
    </div>
    [% ELSE %]
    <div class="map-balloon ezra_map-template" style="display: none">
        <h2 class="map-balloon-title">%%address%%</h2>
        <ul class="map-balloon-list">
            <li>
                <div class="map-balloon-titel">Stad: </div>
                <div>%%city%%</div>
            </li>
            <li>
                <div class="map-balloon-titel">Postcode: </div>
                <div>%%zipcode%%</div>
            </li>
            <li>
                <div class="map-balloon-titel">Land: </div>
                <div>%%country%%</div>
            </li>
            <li>
                <div class="map-balloon-titel">Provincie: </div>
                <div>%%province%%</div>
            </li>
        </ul>
    </div>
    [% END %]
</div>

