.panel-component {
	position:absolute;
	top:44px;
	left:0;
	bottom:0;
	right:0;
}

.panel {
	position: absolute;
	overflow-y:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.panel-inner{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position: absolute;
}

.panel-main{
	left:0;
}

.panel-side{
	width:300px;
}