<div class="kcc-active-subject kcc-bar">
   
    <div class="kcc-incoming-calls clearfix">
        <div class="kcc-call <[tabData==activeSubject&&'kcc-call-active'||'']>" data-ng-show="activeSubject" data-ng-click="setTabData(activeSubject)">
            <[getDisplayName(activeSubject)]>
        </div>
        <div data-ng-controller="nl.mintlab.kcc.IncomingCallController" data-ng-init="setEnabled(enableIncomingCall)">
            <div class="kcc-call kcc-call-incoming <[tabData==call&&'kcc-call-active'||'']>" data-ng-repeat="call in incomingCalls | limitTo:4" data-ng-click="setTabData(call)">
                <[getDisplayName(call)]>
            </div>
        </div>
    </div>
    
    <div class="kcc-active-subject-inner clearfix" data-ng-show="tabData&&tabData==activeSubject">
        <i class="kcc-active-subject-icon kcc-icon"></i>
        <div class="kcc-contact-meta">
            <div class="kcc-contact-name"><[getDisplayName(activeSubject)]></div>
            <div class="kcc-contact-more"><[getSubjectByline()]></div>
        </div>
        <div class="kcc-active-subject-buttons">
            <div class="actions-nav kcc-contact-actions button_num_4">  
                <a class="actions-nav-contact first" title="Ga naar de contactpagina" data-ng-href="/betrokkene/<[activeSubject.gmid]>?gm=1&amp;type=<[activeSubject.type]>"><span class="nav-icon"></span>Contactpagina</a>                
                <button class="actions-nav-new-contactmoment" title="Maak een nieuw contactmoment aan" onclick="$('.nieuwcontactmoment').click()"><span class="nav-icon"></span>Nieuw Contactmoment</button>
                <button class="actions-nav-new-case"title="Maak een nieuwe zaak aan" onclick="$('.nieuwezaak').click()"><span class="nav-icon"></span>Nieuwe Zaak</button>
                <button class="actions-nav-cancel last" data-ng-click="disableSession()" title="Deactiveer contactpersoon"><span class="nav-icon"></span>Deactiveer</button>
            </div>
        </div>
    </div>
    
    <div class="kcc-active-subject-inner clearfix" data-ng-show="tabData&&tabData!=activeSubject">
        <i class="kcc-active-subject-icon kcc-icon"></i>
        <div class="kcc-incoming-call-subject">
            <strong><[getDisplayName(tabData)]><br/></strong>
            <span data-ng-show="tabData.contact"><[tabData.phonenumber]></span>
        </div>
        <div class="kcc-active-subject-buttons">
            <div class="actions-nav kcc-contact-actions button_num_2">  
                <button class="actions-nav-accept first" data-ng-click="acceptCall(tabData)" data-zs-confirm="<[activeSubject&&'Weet u zeker dat u dit telefoontje wil accepteren?'||'']>">Accept<span class="nav-icon"></i></button>
                <button class="actions-nav-cancel last" data-ng-click="rejectCall(tabData)">Deny<span class="nav-icon"></span></button>
            </div>
        </div>
    </div>
    
</div>
